In [1]:
import pandas as pd
from dstools import feature_stats

In [2]:
df_path = 'sample_data/boston.csv'
target = 'target'
df = pd.read_csv(df_path)

In [3]:
df_stats = feature_stats(df, target)
df_stats.head()

,mean,median,std,nunique,min,25%,50%,75%,max,5-th_lar_val,...,"corr(x^.5,y)","corr(logx,y)","corr(tanhx,y)","corr(sigx,y",0.99-qt_mean_y,0.95-qt_mean_y,0.9-qt_mean_y,0.1-qt_mean_y,0.05-qt_mean_y,0.01-qt_mean_y
CRIM,3.613524,0.25651,8.601545,504,0.00632,0.082045,0.25651,3.677082,88.9762,45.7461,...,0.463354,0.464084,0.388255,0.413647,9.116667,10.150000,12.272549,29.384314,31.123077,27.533333
ZN,11.363636,0.00000,23.322453,26,0.00000,0.000000,0.00000,12.500000,100.0000,95.0000,...,0.382970,0.384007,0.373458,0.373459,38.960000,31.544828,29.933333,20.473387,20.473387,20.473387
INDUS,11.136779,9.69000,6.860353,76,0.46000,5.190000,9.69000,18.100000,27.7400,27.7400,...,0.507810,0.518582,0.223579,0.348873,16.666667,16.903704,20.454386,31.613725,30.206452,34.933333
CHAS,0.069170,0.00000,0.253994,2,0.00000,0.000000,0.00000,0.000000,1.0000,1.0000,...,0.175260,0.175260,0.175260,0.175260,28.440000,28.440000,22.532806,22.093843,22.093843,22.093843
NOX,0.554695,0.53800,0.115878,81,0.38500,0.449000,0.53800,0.624000,0.8710,0.8710,...,0.429903,0.429563,0.431081,0.428691,16.425000,16.067568,16.140984,28.286275,27.788462,24.542857

In [4]:
df_stats.columns

Index(['mean', 'median', 'std', 'nunique', 'min', '25%', '50%', '75%', 'max',
       '5-th_lar_val', '10-th_lar_val', '15-th_lar_val', '20-th_lar_val',
       '5-th_sma_val', '10-th_sma_val', '15-th_sma_val', '20-th_sma_val',
       'na_cnt', 'corr(x,y)', 'corr(x^2,y)', 'corr(x^3,y)', 'corr(x^.5,y)',
       'corr(logx,y)', 'corr(tanhx,y)', 'corr(sigx,y', '0.99-qt_mean_y',
       '0.95-qt_mean_y', '0.9-qt_mean_y', '0.1-qt_mean_y', '0.05-qt_mean_y',
       '0.01-qt_mean_y'],
      dtype='object')